* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
}
.main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.box {
  margin: 20px;
  border-radius: 10px;
  display: grid;

  background-color: #2f3492;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 30px;
  width: 300px;
  height: auto;

  grid-template-areas:
    'title title'
    'picture picture'
    'up down';
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.title {
  padding: 10px 20px 0 20px;
  grid-area: title;
  color: #f4f9ff;
  border-radius: 10px 10px 0 0;
}
.text {
  font-weight: bold;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: picture;
  overflow: hidden;
  padding: 0 20px;
  border-radius: 10px;
}
.picture {
  width: 100%;
  border-radius: 10px;
}

.upvote {
  grid-area: up;
  margin: 0 0 10px 20px;
  color: white;
  justify-self: center;
}
.icon {
  display: inline-flex;
  align-self: center;
  padding-right: 5px;
}

.icon svg,
.icon img {
  height: 1em;
  width: 1em;
}

.icon.baseline svg,
.icon img {
  top: 0.125em;
  position: relative;
}

.downvote {
  grid-area: down;
  margin: 0 20px 10px 0;
  color: #fff;
  justify-self: center;
}
